*.dcu
*.rar
*.zip
*.xls
*.~pas
*.~dfm
*.~ddp
*.~*
*.txt
*.doc
*.exe
*.ex~
*.sql
*.pdf
*.res
*.rtf
*.pck
*.log
*.m
*.gex
*.fr3
*.fd3
*.dll
*.0??
*.dfg
*.upx
*.cdx
*.bak
*.dbf
MyCtrls.*
MyDBCtrls.*
CHILDWIN.*
*.7z
*.ini



artem/
bak/
ClientDataSet/
compare/
copy/
delphi_source/
doc/
hint/
ICONS/
json/
OFFICE/
p/
PO/
read_me/
remark/
Source_deplhi/
t/
task/
tkerb/
twins/
UPX/
XML/


